{% extends 'console/base.html' %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <td>Problem</td>
                <td>Topic(s)</td>
                <td>Time</td>
                <td>Submitted</td>
            </tr>
        </thead>
{#        <tbody>#}
{#            {%  for problem in problem_list %}#}
{#            <tr><td>problem.name</td></tr>#}
{#            <tr><td>problem.topics</td></tr>#}
{#            <tr><td>problem.time</td></tr>#}
{#            <tr><td>problem.submitted</td></tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
    </table>

{% endblock content %}